* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
.font-white {
  color: white;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  height: 68px;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 0 30px;
}

.nav img {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin: auto;
}

.nav-menu {
  float: right;
}

.nav-menu li{
  display: inline-block;
  padding: 20px;
}

.header {
  background-image: url("../images/bg.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.details-box {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left:100px;
}

.hand-write {
  font-size: 70px;
  font-family: 'Parisienne', cursive;
  font-weight: 400;
}